<!DOCTYPE html>
<html lang="en">
<head>
    <title>MS Teams Clone</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/darktheme.css">
</head>
<body>
<header class="header" id="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: white">Microsoft Teams</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="color: white">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="color: white">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: white">Pricing</a>
                </li>
            </ul>
        </div>
        <div class="nav-item dropdown" style="float: right;margin-right:20px">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" style="color: white"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <% if(user != null){ %>
                    <a class="dropdown-item" href="#"><%= user.username %></a>
                <% } %>
                <a class="dropdown-item" href="/settings/profile">Profile</a>
                <a class="dropdown-item" href="/settings/reset">Change Password</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</header>
